<h2 class="top-title">ようこそ Bookers へ！</h2>

<p class="top-description"><b>Bookers</b> では、さまざまな書籍に関するあなたの意見や</p>
<p class="top-description">印象を共有し交換することができます</p>

<p class="top-start"><%= link_to "start", books_path %></p>