* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: verdana, arial, helvetica, sans-serif;
}

.top-title {
	font-size: 25px;
	margin: 25px;
	font-weight: bold;
}

.top-description {
	margin: 25px 50px;
	font-size: 13px;
}

.top-start {
	margin: 25px 50px;
	font-size: 13px;
}

.index, .edit {
	margin: 30px;
}

.index-title, .edit-title {
	font-size: 26px;
}

thead, tbody,
.form-title, .edit-button {
	font-size: 13px;
	margin-top: 10px;
}

td {
	padding: 5px;
}

table, .index-new {
	margin-top: 10px;
}

.button {
	margin-top: 10px;
}

.show-content {
	margin: 40px 60px;
	font-size: 13px;
}

.show-button {
	margin: 30px;
	font-size: 13px;
}