* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: verdana, arial, helvetica, sans-serif;
}

.top-title {
	font-size: 25px;
	margin: 25px;
	font-weight: bold;
}

.top-description {
	margin: 25px 50px;
	font-size: 13px;
}

.top-start {
	margin: 25px 50px;
	font-size: 13px;
}

.index, .edit {
	margin: 30px;
}

.index-title, .edit-title {
	font-size: 26px;
}

thead, tbody,
.form-title, .error-form-title,
.edit-button {
	font-size: 13px;
	margin-top: 10px;
}

td {
	padding: 5px;
}

table, .index-new {
	margin-top: 10px;
}

.button {
	margin-top: 10px;
}

.show-content {
	margin: 40px 60px;
	font-size: 13px;
}

.show-button {
	margin: 30px;
	font-size: 13px;
}

.flash-new {
	margin: 40px 0 0 60px;
	font-size: 13px;
	color: green;
}

.flash-delete {
	margin: 40px 40px;
	font-size: 13px;
	color: green;
}

.alert {
	margin: 20px 0;
	border: 2px solid red;
	width: 500px;
}

label {
	display: inline-block;
}

.error-title {
	padding: 5px 15px;
	font-size: 12px;
	font-weight: bold;
	color: white;
	background-color: #cd0000;
}

.error-detail {
	padding: 35px 80px;
	font-size: 12px;
	background-color: #f0f0f0;
}

.error-form-title {
	background-color: red;
}

.error-form-body {
	border: 2px solid red;
}